* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 16px 16px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.header2 {
  flex: auto;
  max-width: 1332px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  display: flex;
  gap: 16px;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  padding: 64px 16px;
  background-color: #1f2937;
  justify-content: center;
  gap: 32px;
}

.hero-main {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 16px;
}

.hero-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.hero-image {
  max-width: 600px;
}

.hero-text {
  max-width: 700px;
}

.button {
  background-color: #3882f6;
  padding: 8px 32px;
  border: none;
  color: #f9faf8;
  border-radius: 10px;
  font-size: 20px;
}

.information-headline {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
}

.information-boxes {
  display: flex;
  justify-content: center;
  gap: 64px;
  flex-wrap: wrap;
}

.info-box {
  width: 200px;
}

.information {
  padding: 32px 16px 64px;
  color: #1f2937;
}

.info-image img {
  border: 5px solid #3882f6;
  border-radius: 25px;
  height: 200px;
  width: 200px;
  margin-bottom: 8px;
  object-fit: cover;
}

.one img {
  object-position: bottom;
}

.two img {
  object-position: 0 75%;
}

.three img {
  object-position: left;
}

.info-subtext {
  text-align: center;
}

.quote-content {
  width: 75%;
  font-size: 36px;
  font-weight: 300;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  background-color: #e5e7eb;
  color: #1f2937;
}

.quote-author {
  align-self: flex-end;
  font-size: 24px;
}

.call-to-action {
  padding: 64px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-box {
  display: flex;
  background-color: #3882f6;
  padding: 64px 128px;
  color: #f9faf8;
  border-radius: 10px;
  gap: 64px;
  align-items: center;
}

.cta-box .button {
  border: #f9faf8 solid 2px;
}

.cta-main {
  font-size: 20px;
}

.footer {
  padding: 32px 0;
  text-align: center;
  background-color: #1f2937;
  color: #e5e7eb;
}
