* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  max-width: 960px;
  margin: auto;
  padding: 0 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.header-links {
  display: flex;
  gap: 16px;
}

.information-headline {
  text-align: center;
}

.hero {
  display: flex;
  padding: 64px 0;
}

.information-boxes {
  display: flex;
}

.cta-box {
  display: flex;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 48px;
  text-align: center;
}

.information {
  padding: 32px 0 64px;
}

.quote-content {
  width: 75%;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
}

.quote-author {
  align-self: flex-end;
}

.call-to-action {
  padding: 64px 0;
}
